{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio laborum quasi minus non aspernatur cupiditate amet eveniet rem dignissimos, tenetur dolore unde provident molestiae quo nam magni quisquam ab consequatur dolorem? Repellendus, ut maxime. Deserunt velit voluptate cumque! Recusandae saepe, molestias possimus, quaerat fugiat optio nulla fugit explicabo a aliquam quidem! Nostrum commodi optio itaque inventore numquam porro placeat aut ipsam! Ducimus consectetur fugiat aliquam, similique sunt exercitationem aliquid dolor necessitatibus nam. Consequatur, ipsam quas? Esse consectetur, dolor provident repudiandae nesciunt quo facilis dolore ratione aspernatur maxime perspiciatis, neque numquam deleniti libero fuga culpa corrupti asperiores at animi, est aliquid?</p>

<p>Website created by {{ username }}</p>

{% endblock %}